<div style="width: 300px;">
  <div class="anime1" ng-repeat="item in items" style="width:50px; height: 50px; margin: 10px; background-color: yellow; float:left; font-size: 24px; font-weight: bold; text-align: center; padding-top: 5px;">
  </div>
</div>
<div style="clear:both"></div>

<div style="width: 300px; margin-top: 100px;clear:both;">
  <div class="anime1" ng-repeat="item in items" style="width:50px; height: 50px; margin: 10px; background-color: yellow; float:left; font-size: 24px; font-weight: bold; text-align: center; padding-top: 5px;" ng-style="{'animation-delay': $index/10 + 's'}">
  </div>
</div>
<div style="clear:both"></div>

<div style="width: 300px; margin-top: 100px;clear:both;">
  <div class="anime1" ng-repeat="item in items" style="width:50px; height: 50px; margin: 10px; background-color: yellow; float:left; font-size: 24px; font-weight: bold; text-align: center; padding-top: 5px;" ng-style="{'animation-delay': item.i/10 + 's'}">
  </div>
</div>
<div style="clear:both"></div>

<div style="width: 300px; margin-top: 100px;clear:both;">
  <div ng-repeat="item in items" style="width:50px; height: 50px; margin: 10px; background-color: yellow; float:left; font-size: 24px; font-weight: bold; text-align: center; padding-top: 5px;" class="item">
  </div>
</div>
<div style="clear:both"></div>


<button ng-click="addItem()">ついか</button>