<div style="width: 550px">
  <div class="anime1" ng-repeat="item in items" style="width:100px; height:100px; margin: 10px; background-color: yellow; float:left; font-size: 24px; font-weight: bold; text-align: center; padding-top: 5px;">
  </div>
</div>
<div style="clear:both"></div>

<div style="width: 550px; margin-top: 1000px;clear:both;">
  <div class="anime1" ng-repeat="item in items" style="width:100px; height:100px; margin: 10px; background-color: yellow; float:left; font-size: 24px; font-weight: bold; text-align: center; padding-top: 5px;" ng-style="{'animation-delay': $index/10 + 's'}">
  </div>
</div>
<div style="clear:both"></div>

<div style="width: 550px; margin-top: 1000px;clear:both;">
  <div class="anime1" ng-repeat="item in items" style="width:100px; height:100px; margin: 10px; background-color: yellow; float:left; font-size: 24px; font-weight: bold; text-align: center; padding-top: 5px;" ng-style="{'animation-delay': item.i/10 + 's'}">
  </div>
</div>
<div style="clear:both"></div>

<div style="width: 550px; margin-top: 1000px;clear:both;">
  <div ng-repeat="item in items2" style="width:100px; height:100px; margin: 10px; background-color: yellow; float:left; font-size: 24px; font-weight: bold; text-align: center; padding-top: 5px;" class="item">
  </div>
</div>
<div style="clear:both"></div>


<button ng-click="addItem()">ついか</button>


<div style="height: 1000px;"></div>